.vs/
BackGaming/Migrations/
.vs
.vs/
BackGaming/.vs
BackGaming/.vs/
BackGaming/obj
BackGaming/bin
BackGaming/Migrations
BackGaming/obj/
BackGaming/bin/
BackGaming/Migrations/
Testing/obj/
Testing/bin/
Testing/obj
Testing/bin
Testing/.vs
.sonarqube/
.sonarqube